html {
  font-family: sans-serif;
}
a {
  text-decoration: none; 
}
.container {
  width: 100%;
  height: 100%;
}
header {
  background: #3b5998;
  padding: 15px;
}
header a {
  color: white;
  font-size: 12px;
}
.logo-area {
  color: white;
  display: inline-block;
  width: 20%;
}
.logo-area a {
  text-decoration: none;
  font-size: 20px;
  font-family: courier;
  padding-left: 20px;
}
.menuTwo {
  display: inline-block;
  width: 20%;
  text-align:right;
  border-right: 1px solid white;
}
.menuTwo ul {
  margin-right: 40px;
}
.menuTwo ul li {
  display: inline-block;
  margin-right: 30px;
}
.menuTwo ul li a {
  color: white;
}
.iconLinks {
  display: inline-block;
  width: 20%;
}
.iconLinks ul {
  border-right: 1px solid white;
}
.iconLinks ul li{
  display: inline-block;
  margin: 0 10px;
}
.iconLinks .quick-options{
  display: inline-block;
}
.iconLinks .privacy {
  display: inline-block;
  width:10%;
  margin-left: 15px;
  color: white;
  font-size: 14px;
}
.search-area {
  display: inline-block;
  width: 30%;
  margin-left: 65px; /* margin for search box positioning*/
  text-align: right;
}
.search-area ul li{
  display: inline-block;
}
/* style section for the top marqee type area */

#top-area {
  background: url(https://static.pexels.com/photos/368015/pexels-photo-368015.jpeg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 200px 15px 90px 15px;
}
#top-area .profile-info .user-img{
  padding: 10px;
  display: inline-block;
}
#top-area .profile-info .user-img img{
  border-radius: 50%;
}
#top-area .profile-info .user-detail{
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
#top-area .profile-info .user-detail h3{
  color: white;
  font-size: 24px;
  font-weight: 300;
}
#top-area .profile-info .user-detail a{
  display: inline-block;
  margin: 5px 0 0 4px;
  width: 42%;
  text-align: center;
  text-transform: uppercase;
  color: white; 
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  background: rgba(255,255,255,.4);
   
}
#top-area .profile-info .user-detail a:hover {
  background: #2196f3;
  transition: all ease-in-out 300ms;
}
#content-area .side-area {
  width: 35%;
  height: 900px;
  margin: 0 2.5%;
  background-color: red;
  float: left;
}
#content-area .main-area{
  width: 55%;
  height: 600px;
  margin: 0 2.5%;
  background-color: blue;
  float: left;
}
